@import '~lib/sandal/core';
@import '~assets/css/core/vars', '~assets/css/core/functions';

$imgTextCartNumColor: $colorYellowEasy;

.vux-number-selector, .vux-number-input {
	border-color: $imgTextCartNumColor !important;
}

.vux-number-input {
	border-radius: 0 !important;
}

.vux-number-selector svg {
	fill: $colorYellowEasy !important;
}

.vux-number-selector-plus {
	background-color: $imgTextCartNumColor !important;

	svg {
		fill: #fff !important;
	}
}
